In [3]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
import pandas as pd
emp=pd.Series(['Dharshan','Sudeep','Sara','Yash','Ravi'])
id=pd.Series([80,90,28,57,49])
frame={'Exp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

        Exp  ID
0  Dharshan  80
1    Sudeep  90
2      Sara  28
3      Yash  57
4      Ravi  49

In [10]:
import pandas as pd
emp=pd.Series(['Dharshan','Sudeep','Sara','Yash','Ravi'])
id=pd.Series([80,90,28,57,49])
frame={'Exp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n Extracting one column:\n")
print(result['Exp'])

 Extracting one column:

0    Dharshan
1      Sudeep
2        Sara
3        Yash
4        Ravi
Name: Exp, dtype: object

In [12]:
import pandas as pd
emp=pd.Series(['Dharshan','Sudeep','Sara','Yash','Ravi'])
id=pd.Series([80,90,28,57,49])
frame={'Exp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n Adding New column:\n")
result['ID']=pd.Series([80,90,28,57,89])
result['age']=pd.Series([29,30,31,33,28])
print(result)

 Adding New column:

        Exp  ID  age
0  Dharshan  80   29
1    Sudeep  90   30
2      Sara  28   31
3      Yash  57   33
4      Ravi  89   28