In [10]:
import pandas as pd
student_data={'Name':['Sri visha','Lee','Ella','Steve','Lucas','Maxine','Dustin','Michael','Nancy','Bavan'],'Roll no':[9,17,23,36,23,29,17,36,9,17],'E-mail':['visha09@gmail.com','Lee44@gmail.com','Elle17@gmail.com','Steve23@gmail.com','Lucas23@gmail.com','Maxine29@gmail.com','Dustin17@gmail.com','Michael36@gmail.com','Nancy09@gmail.com','Bavan17@gmail.com']}
df=pd.DataFrame(student_data)
non_duplicate=df[~df.duplicated('Roll no')]
print("\n Removed duplicated rows:\n",non_duplicate)

 Removed duplicated rows:
         Name  Roll no              E-mail
0  Sri visha        9   visha09@gmail.com
1        Lee       17     Lee44@gmail.com
2       Ella       23    Elle17@gmail.com
3      Steve       36   Steve23@gmail.com
5     Maxine       29  Maxine29@gmail.com

In [12]:
import pandas as pd

car_selling_data = {
    'Brand': ['Maruti', 'Maruti', 'Maruti', 'Hyundai', 'Hyundai', 'Toyota', 'Mahindra', 'Mahindra', 'Ford', 'Toyota', 'Ford'],
    'year': [2010, 2011, 2012, 2011, 2013, 2010, 2011, 2012, 2013, 2010, 2011],
    'Sold': [6, 7, 8, 3, 5, 2, 8, 7, 2, 4, 6]}

df = pd.DataFrame(car_selling_data)
print("\nOriginal DataFrame:\n", df)

grouped = df.groupby("year")
print("\nGroup by year 2011:\n", grouped.get_group(2011))

Original DataFrame:
        Brand  year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2012     8
3    Hyundai  2011     3
4    Hyundai  2013     5
5     Toyota  2010     2
6   Mahindra  2011     8
7   Mahindra  2012     7
8       Ford  2013     2
9     Toyota  2010     4
10      Ford  2011     6

Group by year 2011:
        Brand  year  Sold
1     Maruti  2011     7
3    Hyundai  2011     3
6   Mahindra  2011     8
10      Ford  2011     6