In [4]:
import numpy as np 
import pandas as pd 
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'], 'category':['A', 'B', 'A', 'B', 'A', 'B'], 
'value':np.random.randint(1, 5, size=6), 
'score':np.random.randint(60, 100, size=6) 
}) 
print("\nOriginal Dataframe:\n",df)

Original Dataframe:
       Name category  value  score
0    Alice        A      1     95
1      Bob        B      4     77
2  Charlie        A      1     67
3    Alice        B      2     99
4      Bob        A      3     80
5  Charlie        B      4     76

In [5]:
#Data grouping and Aggregation: with one column sum 
df1=df.groupby(('Name'),as_index=False)['value'].sum() 
print("\nGroup by name and Aggregation with one column:\n",df1)

Group by name and Aggregation with one column:
       Name  value
0    Alice      3
1      Bob      7
2  Charlie      5

In [6]:
#Data grouping and Aggregation: with two column sum 
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum() 
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      3    194
1      Bob      7    157
2  Charlie      5    143

In [7]:
#Data grouping and Aggregation: with one column sum 
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum') 
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      3
1      Bob      7
2  Charlie      5

In [8]:
#Group by 'Name' and calculate multiple aggregations 
df4 = df.groupby('Name').agg({ 
'value': ['sum', 'mean', 'min', 'max'], 
'score': ['sum', 'mean']}) 
print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       3  1.5   1   2   194  97.0
Bob         7  3.5   3   4   157  78.5
Charlie     5  2.5   1   4   143  71.5

In [11]:
df5=df.groupby(('Name'),as_index=False)['value'].count()
print("\n Group and count:\n",df5)

 Group and count:
       Name  value
0    Alice      2
1      Bob      2
2  Charlie      2

In [13]:
df6=df.groupby(('Name')).count()
print("\n Group and count:\n",df6)

 Group and count:
          category  value  score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [14]:
df7=df.groupby(('Name'),as_index=False)['value'].first()
print("\n Group and display from first:\n",df7)

 Group and display from first:
       Name  value
0    Alice      1
1      Bob      4
2  Charlie      1

In [15]:
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
         category  value  score
Name
Alice          A      1     95
Bob            B      4     77
Charlie        A      1     67

In [16]:
df9=df.groupby(('Name')).last()
print("\n Group and display from first:\n",df9)

 Group and display from first:
         category  value  score
Name
Alice          B      2     99
Bob            A      3     80
Charlie        B      4     76

In [17]:
df10=df.groupby(('Name')).last()
print("\n Group and display from first:\n",df10)

 Group and display from first:
         category  value  score
Name
Alice          B      2     99
Bob            A      3     80
Charlie        B      4     76

In [18]:
df11=df.groupby(('Name'),as_index=False)['value'].size()
print("\n Group and display from first:\n",df11)

 Group and display from first:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [19]:
df12=df.groupby(('Name')).size()
print("\n Group and display from first:\n",df12)

 Group and display from first:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64