In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame \n",df.dropna())
print("\n")

original DataFrame with NaN
         one       two     three
a -0.497741  0.347258  1.552619
b       NaN       NaN       NaN
c -2.078770 -0.284722 -1.098599
d  1.780095  2.301044  0.475062
e       NaN       NaN       NaN
f -0.031503  0.876705 -1.025194


Dropped DataFrame
         one       two     three
a -0.497741  0.347258  1.552619
c -2.078770 -0.284722 -1.098599
d  1.780095  2.301044  0.475062
f -0.031503  0.876705 -1.025194

In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("original DataFrame :\n",df)
print("\n")
print("NaN replaced with '0'\n",df.fillna(0))
print("\n")

original DataFrame :
         one       two     three
a  0.732436 -0.269249 -1.303723
b       NaN       NaN       NaN
c  0.379924 -0.675639 -0.091302


NaN replaced with '0'
         one       two     three
a  0.732436 -0.269249 -1.303723
b  0.000000  0.000000  0.000000
c  0.379924 -0.675639 -0.091302

In [3]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})

print("original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

original DataFrame:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [4]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])

df=df.reindex(['a','b','c','d','e','f'])
print("original DataFrame:\n",df)
print("\n NaN.with True fill:\n")
print(df['one'].isnull())

original DataFrame:
         one       two     three
a -1.599486 -2.691867  0.366941
b       NaN       NaN       NaN
c  0.250528  0.820778 -0.677943
d -0.820584  0.997682  0.310058
e       NaN       NaN       NaN
f  1.812083  0.587580 -0.615520

 NaN.with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [5]:
print("\n NaN-filled with Bachground values:\n")

print(df.fillna(method='bfill'))

 NaN-filled with Bachground values:

        one       two     three
a -1.599486 -2.691867  0.366941
b  0.250528  0.820778 -0.677943
c  0.250528  0.820778 -0.677943
d -0.820584  0.997682  0.310058
e  1.812083  0.587580 -0.615520
f  1.812083  0.587580 -0.615520

In [6]:
print(df.bfill())
print(df.ffill())

        one       two     three
a -1.599486 -2.691867  0.366941
b  0.250528  0.820778 -0.677943
c  0.250528  0.820778 -0.677943
d -0.820584  0.997682  0.310058
e  1.812083  0.587580 -0.615520
f  1.812083  0.587580 -0.615520
        one       two     three
a -1.599486 -2.691867  0.366941
b -1.599486 -2.691867  0.366941
c  0.250528  0.820778 -0.677943
d -0.820584  0.997682  0.310058
e -0.820584  0.997682  0.310058
f  1.812083  0.587580 -0.615520